altgraph==0.17
future==0.18.2
mysql-connector-python==8.0.22
numpy==1.19.4
pandas==1.1.5
pefile==2019.4.18
protobuf==3.14.0
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
python-dateutil==2.8.1
pytz==2020.4
pywin32-ctypes==0.2.0
six==1.15.0
